#monitoramento {
    background-color: #f8f8f8f8;

    padding-top: 100px;
    padding-bottom: 100px;
}

#monitoramento .container {
    padding-left: 200px;
    padding-right: 600px;
width: 100%;
    display: inline-block;

    padding-right: 150px;
    margin-left: 5%;
}

#monitoramento .container h1 {
    border-left: 9px solid #000050;
    
    font-family: openSansCondensedBold, Arial, Helvetica, sans-serif;
    font-size: 48px;

    margin-left: -19px;
    padding-left: 10px;
    padding-bottom: 30px;

    color: #000050;
}
#monitoramento .container .field2 img {
    width: 250px;
    height: 200px;

    display: inline-block;

    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.field2_diferente {
    margin-top:50%;
    position: relative;
    float: left;
   margin-right: 5%;
   
   
}
.field2_diferente img{
    width: 250px;
    height: 200px;

    display: inline-block;

    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.btn_visitar {
    background-color: white;;
   
    border: solid rgba(0, 0, 80, 1) 2px;
    padding: 4% 8%;
    border-radius: 10px;
    margin: auto;

}
.btn_visitar:hover{
    background-color: rgba(0, 0, 80, 1);
    border-color: rgba(204, 204, 204, 1);
    padding: 4% 8%;
    border-radius: 10px;
    margin: auto;
    color: white;
    transition: 0.5s;

}

.info2 {
    position: relative;
    float: left;
   margin-right: 5%;
}

