#sobre {
    display: flex;
    align-content: center;
    justify-content: center;
  
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: #f8f8f8f8;
}

#sobre .container-fluid {
    padding-left: 20%;
    padding-right: 600px;
    padding-bottom: 150px;
}

#sobre .container-fluid .info {
    display: inline-block;

    padding-right: 150px;
}

#sobre .container-fluid .info h1 {
    border-left: 9px solid #1E324A;
    
    font-family: openSansCondensedBold, Arial, Helvetica, sans-serif;
    font-size: 48px;

    margin-left: -19px;
    padding-left: 10px;
    padding-bottom: 30px;

    color: #1E324A;
}

#sobre .container-fluid .info h2 {
    padding-right: 100px;
    padding-bottom: 50px;

    font-family: openSansCondensedBold, Arial, Helvetica, sans-serif;
    font-size: 25px;

    color: #7D7D7D;
}

#sobre .container-fluid .info p {
    font-family: openSansCondensed, Arial, Helvetica, sans-serif;
    font-size: 20px;

    text-align: justify;

    color: #7D7D7D;
}

#sobre .container-fluid .image {
    position: absolute;

    background-image: url("../imgs/sobre_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 500px;
    height: 600px;
}